ul.nav{
	margin:0 auto;
	padding: 0;
	list-style: none;
	width: 72em;
	overflow: hidden;
	background:#FAA819 url(../img/mainNavbg.gif) repeat-x;
}
ul.nav li{
	float: left;
}
ul.nav a{
	display: block;
	padding: 0 3em;
	line-height: 2.1em;
	background:url(../img/divider.gif) repeat-y left top;
	text-decoration: none;
	color: #fff;
}
ul.nav .first a{
	background-image: none;
}
ul.nav a:hover,
ul.nav a:focus{
	color: #333;
}

ul.nav1{
	margin:10em auto;
	padding: 0;
	list-style: none;
	width: 72em;
	overflow: hidden;
}
ul.nav1 li{
	float: left;
	background:url(../img/tab-right.gif) no-repeat top right;
}
ul.nav1 li a{
	display: block;
	padding: 0 3em;
	line-height: 2.5em;
	background:url(../img/tab-left.gif) no-repeat top left;
	text-decoration: none;
	color:#fff;
	float: left;
}
ul.nav1 a:hover,
ul.nav1 a:focus{
	color: #333;
}
ul.nav2, ul.nav2 ul{
	text-align: center;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	float: left;
	border: 1px solid #486B02;
	background-color: #8BD400;
}
ul.nav2 li{
	float: left;
	width: 8em;
	background-color: #8BD400;
}
ul.nav2 li ul{
	width: 8em;
	position: absolute;
	left:-999em;
}
.nav2 li:hover ul{
	left:auto;
}
ul.nav2 a{
	display: block;
	color: #2B3F00;
	text-decoration: none;
	padding: 0.3em 1em;
	border-right: 1px solid #486B02;
	border-left: 1px solid #E4FFD3;
}
ul.nav li li  a{
	border-top: 1px solid #E4FFD3;
	border-bottom: 1px solid #486B02;
	border-left: 0;
	border-right: 0;
}
/*去除最后的border*/
ul.nav li:last-child a{
	border-right:0;
	border-bottom: 0;
}
ul a:hover,
ul a:focus{
	color: #E4FFD3;
	background-color: #6DA203;
}