/*清零*/
*{
    margin: 0px;
    padding:0px;
}
body{
    font: 12px/1.62 Helvetica,Arial,scan-serif;
}
a{
    text-decoration: none;
}
img,input{
    border: none;
    /*兼容ie6*/
    border: 1px solid;
}
li{
    list-style: none;
}
/*头部开始*/
#hd-header{
    width: 950px;
    height: 90px;
    margin: 0 auto;
    position:relative;
}
#hd-header .header-logo{
    display: block;
    width:154px ;
    height: 30px;
    background: url(../img/logo_db.png) no-repeat;
    position: absolute;
    left: 0px;
    top: 29px;
}
#hd-header .header-search{
    width: 303px;
    height: 30px;
    border: 1px solid #c3c3c3;
    position: absolute;
    left:183px;
    top:31px;
    color:#e4e4e4;
    padding-left: 7px;
    line-height: 30px;
}
#hd-header p{
    width: 13px;
    height: 13px;
    background: url("../img/bn_srh_1.png") no-repeat;
    position: absolute;
    left: 468px;
    top:42px;
}
#hd-header ul{
    width: 402px;
    height: 23px;
    position: absolute;
    right: 0px;
    top:36px;

}
#hd-header ul li{
    float: left;
    margin-right: 17px;
}
#hd-header ul li a{
    display: block;
    width:40px;
    height: 23px;

}
#hd-header ul li a.header-book{
    background: url("../img/anony_nav_logo4.png") 0px 0px no-repeat;

}
#hd-header ul li a.header-movie{
    background: url("../img/anony_nav_logo4.png") -59px 0px no-repeat;
}
#hd-header ul li a.header-music{
    background: url("../img/anony_nav_logo4.png") -120px 0px no-repeat;
}
#hd-header ul li a.header-group{
    background: url("../img/anony_nav_logo4.png") -179px 0px no-repeat;
}
#hd-header ul li a.header-fm{
    width: 81px;
    background: url("../img/anony_nav_logo4.png") -239px 0px no-repeat;
}
#hd-header ul li a.header-local{
    background: url("../img/anony_nav_logo4.png") -340px 0px no-repeat;
}

/*头部结束*/
/*注册区域*/
#hd-reg-background{
    background: #e8edf1;
    height: 88px;
    width: 100%;
}
#hd-reg{
    width: 950px;
    height: 88px;
    margin: 0 auto;
    position: relative;
}
#hd-reg .reg-join{
    display: block;
    width: 120px;
    height: 37px;
    background: #ef7360;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    line-height: 37px;
    text-align: center;
    position: absolute;
    left: 0px;
    top:20px;
}
#hd-reg .reg-join:hover{
    background: #ED6752;
}
#hd-reg .reg-join span{
    font-size: 12px;
    margin-left: 3px;
}
#hd-reg p{
    position: absolute;
    left: 138px;
    top:30px;
    font-size: 16px;
    color: #666666;
}
#hd-reg input{
    position:absolute;
    width: 158px;
    height: 32px;
}
#hd-reg .reg-username{
    right: 250px;
    top:20px
}
#hd-reg .reg-password{
    right: 88px;
    top:20px;
}
#hd-reg .reg-login{
    display: block;
    width: 80px;
    height: 33px;
    background: #3ba354;
    color: #fff;
    position: absolute;
    right: 4px;
    top:20px;
    text-align: center;
    line-height: 33px;
    border-radius: 2px;
    font-size: 13px;
}
#hd-reg .reg-login:hover{
    background:#1c9439;
}
#hd-reg p.reg-p{
    position: absolute;
    left:544px ;
    top:62px;
    width: 85px;
    height: 17px;
    padding-left: 17px;
    line-height:17px ;
    collapse: #000;
    font-size: 12px;

}
#hd-reg p.reg-p .remember{
    display: block;
    height: 13px;
    width: 13px;
    position: absolute;
    left: 0px;
    top:2px;
}
#hd-reg .reg-forget{
    position:absolute;
    left: 704px;
    top:61px;
}

/*注册区域结束*/
/*内容区域*/
#hd-con{
    position: relative;
    width: 950px;
    height: 546px;
    margin: 0 auto;
    border: 1px solid red;
}
#hd-con .con-lef{
    width: 373px;
    height: 546px;
    position: absolute;
    left: 0px;
    top:0px;
    border: solid 1px green;
}
#hd-con .con-mid{
    position: absolute;
    left: 380px;
    top:0px;
    width: 298px;
    height: 546px;
    border: solid 1px yellow;
}
/*内容区域结束*/
/*公共样式*/
a{
    color: #3377aa;
}
a:hover{
    background: #3377AA;
    color: #fff;
}
h2.title{
    font: 15px/150% Arial,Helvetica,sans-serif;
    color:#007722 ;
}
.right{
    position: absolute;
    width: 266px;
    right: 0px;
    top:0px;
    border:solid 1px blue;
}